<div class="container">
    <div class="card">
        
        <div class="card-body">
             <form (ngSubmit)="signupUser()" #signupForm="ngForm">
                 <div class="form-group">
                     <label for="firstname" class="form-label">First Name:</label><br>
                     <div><input type="text" name="firstname" [(ngModel)]="signup.firstName" class="form-control" 
                       placeholder="First Name" required #firstname="ngModel" pattern="[a-zA-Z0-9]{3,}">
                     <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="text-danger">
                         <div *ngIf="firstname.errors.required">
                             First Name is required.
                         </div>
                         <div *ngIf="firstname.errors.pattern">
                             First name isn't long enough, minimum of 3 characters
                         </div>
                        
     
                     </div>
                     </div>
                 </div>

                 <div class="form-group">
                    <label for="lastname" class="form-label">Last Name:</label><br>
                    <div><input type="text" placeholder="Last Name" name="lastname" [(ngModel)]="signup.lastName" class="form-control" required #lastname="ngModel"
                        pattern="[a-zA-Z0-9]{3,}">
                        <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="text-danger">
                        <div *ngIf="lastname.errors.required">
                            Last Name is required.
                        </div>
                        <div *ngIf="lastname.errors.pattern">
                            Last name isn't long enough, minimum of 3 characters
                        </div>
                    </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="form-label">Email:</label><br>
                    <div><input type="email" placeholder="Email" name="email" [(ngModel)]="signup.email" class="form-control" required #emailid="ngModel"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                    <div *ngIf="emailid.invalid && (emailid.dirty || emailid.touched)" class="text-danger">
                        <div *ngIf="emailid.errors.required">
                            Email id is required.
                        </div>
                        <div *ngIf="emailid.errors.pattern">
                            Invalid email address.
                        </div>
    
                    </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="mobile" class="form-label">Phone Number:</label><br>
                    <div><input type="text" name="mobile" placeholder="Phone Number" [(ngModel)]="signup.mobileNo" class="form-control" required 
                        #mobileNum="ngModel" pattern=[1-9][0-9]{9}>
                    <div *ngIf="mobileNum.invalid && (mobileNum.dirty || mobileNum.touched)" class="text-danger">
                        <div *ngIf="mobileNum.errors.required">
                            Phone Number is required.
                        </div>
                        <div *ngIf="mobileNum.errors.pattern">
                            Phone number isn't long enough.
                        </div>
    
                    </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="username" class="form-label">User Name:</label><br>
                    <div><input type="text" name="username" placeholder="User Name" [(ngModel)]="signup.username" class="form-control" required 
                       #uname="ngModel" pattern="[a-zA-Z0-9]{6,}">
                    <div *ngIf="uname.invalid && (uname.dirty || uname.touched)" class="text-danger">
                        <div *ngIf="uname.errors.required">
                            User Name is required.
                        </div>
                        <div *ngIf="uname.errors.pattern">
                            User Name isn't logn enough, minimum of 6 characters.
                        </div>
    
                    </div>
                   </div>
                </div>


 
                 <div class="form-group">
                 <label for="password" class="form-label">Password:</label><br>
                 <div><input type="password" name="password" placeholder="Password" [(ngModel)]="signup.password" class="form-control" required 
                    #passwd="ngModel" pattern="[a-zA-Z0-9*.!@#$%^&(){}[]:;<>,.?/~_+-=|\]{6,}">
                 <div *ngIf="passwd.invalid && (passwd.dirty || passwd.touched)" class="text-danger">
                     <div *ngIf="passwd.errors.required">
                         Password is required.
                     </div>
                     <div *ngIf="passwd.errors.pattern">
                        Password isn't long enough, mimimum of 6 characters.
                     </div>
 
                 </div>
                </div>
             </div>
             <div class="form-group">
                <label for="conpassword" class="form-label"> Confirm Password:</label><br>
                <div><input type="password" name="conpassword" placeholder="Confirm Password" [(ngModel)]="signup.password" class="form-control" required #confirmpasswd="ngModel">
                <div *ngIf="confirmpasswd.invalid && (confirmpasswd.dirty || confirmpasswd.touched)" class="text-danger">
                    <div *ngIf="confirmpasswd.errors.required">
                        Confirm Password is required.
                    </div>

                </div>
            </div>
            </div>
             <br>
             <div class="form-group row">
                 <div class="col-md-3"></div>
                <div class="col-md-6"></div>
                <div class="col-md-3"><input type="submit" class="btn btn-primary" value="Sign In" [disabled]="!signupForm.valid" style="width: 100%;"></div>
             </div>
                       
                 
             </form>
         </div>
         </div>
       
 </div>
 

