<html>
    <body>
        <head>
            <title>Home</title>
        </head>
        <form action="">
         <div class="dropdown"> <label>Sort By &nbsp;</label>
          <select id="Sort By" name="Sort By">
            <option value="Default">Default</option>
            <option value="Price Highest">Price Highest</option>
            <option value="Price Lowest">Price Lowest</option>
            <option value="Newests">Newests</option>
          </select>
          </div>
        </form>
        <div class="card" style="width: 15rem; height: 20rem;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Chicco Baby Moments<br>
            <p>{{1500.00 | currency:'INR'}}</p></li></ul></div>
       
       </body>
       </html>
