<html>
  <head>
<title></title>

  </head>
    <body>
        <title>Navigation </title>
        <div><ul class="nav nav-pills justify-content-center">
            <li class="nav-item1">
              <a class="nav-link " href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#">Automotive</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Baby Care</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Bags Wallets and Belts</a>
            </li>
          </ul>
        </div>
    </body>
</html>