#forgot,#signup{
    text-align: center;
}
#account:hover{
    background-color: #007bff;;
}


#signintab,#signuptab{
    color:black;
    text-align: center;
}
#signintab{
    width:350px;
}
#signuptab{
    width:348px;
}